# Data & output
*.cache.*
*.csv
*.parquet
*.sqlite
*.sqlite3

# Build artifacts
*.egg-info/
build/
dist/

# IDE settings
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Virtual environments
.venv/

# Terraform
*.tfstate*
crash.log
*.tfvars*
*.tfplan
.terraform/
.terraform.lock.hcl
.databricks

# Databricks
.databricks

# Tableau
*.twb